<h2>${title} - View Model - ${$globals.menuVisible} - ${$globals.myDate}</h2>

<button click.call="newObject">New Object</button>
<button click.call="newObject2">Default</button>

<label>
    <div>First Name</div>
    <input value.bind="data.firstName" id="edtFirstName">
</label>

<h2>Contacts</h2>
<div id="lblLand">${data.contacts.phone.land}</div>
<div id="lblCell">${data.contacts.phone.cell}</div>
<div id="lblFax">${data.contacts.phone.fax}</div>

<input-form name="Import Form 1" data.bind="data"></input-form>
<first-name name="First Name Component" value.bind="data.firstName"></first-name>
