<h2>Input form component</h2>

<label>
    <div>${translations.firstName}</div>
    <input value.bind="data.firstName">
</label>

<label>
    <div>${translations.lastName}</div>
    <input value.bind="data.lastName">
</label>

<label>
    <div>${translations.age}</div>
    <input value.bind="data.age">
</label>

<hr />
<label>
    <div style.color.if="showContacts == true ? 'green' : 'red'">Show Contacts</div>
    <input type="checkbox" checked.bind="showContacts" />
</label>

<input-contacts contacts.bind="data.contacts" hidden.if="showContacts == false"></input-contacts>