<style>
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.25rem 0;
    }

    .icon {
        width: 24px;
        height: 24px;
        margin-right: 1rem;
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>

<h2>Templates</h2>

<div class="toolbar">
    <button click.call="deflate">Deflate</button>
    <button click.call="inflate">Inflate</button>
</div>

<template id="my-template">
    <li data-id="${id}">
        <div class="icon" style.background.if="isActive == true ? 'green' : 'red'"></div>
        <div>${caption}</div>
    </li>
</template>

<ul class="my-list">

</ul>