<style>
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.25rem 0;
    }

    .icon {
        width: 24px;
        height: 24px;
        margin-right: 1rem;
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .ready {
        background: yellow;
    }
    
    .italic {
        font-style: italic;
    }
    
    .notReady {
        background: gray;
    }
</style>

<h2>Templates</h2>

<div class="toolbar">
    <button click.call="deflate">Deflate</button>
    <button click.call="inflate">Inflate</button>
</div>

<template id="my-template">
    <li data-id="${id}" classlist.if="isReady == true ? ['ready', 'italic'] : 'notReady'">
        <div class="icon" style.background.if="isActive == true ? 'green' : 'red'"></div>
        <div>${caption}</div>
        <div hidden.if="isActive == false" data-hidden.if="isActive == false ? 'yes' : 'no'" data-description.if="isActive == false ? 'this not is active'">I am active</div>
    </li>
</template>

<ul class="my-list">

</ul>