@import "/styles/lib/toolbar.css";

.collections-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: 20rem 1fr;
}

.collections-container > h2 {
    grid-column: 1/-1;
}

.collections-container ul {
    padding: 0 1rem 0 0;
    margin: 0;
    list-style: none;
    border-right: silver solid 1px;
}

.collections-container .list-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.collections-container .list-item * {
    pointer-events: none;
}

.collections-container .list-item button, .collections-container .list-item select, .collections-container .list-item input {
    pointer-events: all;
}

.collections-container .form {
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding-left: 1rem;
}

.collections-container .alarm {
    background: #e91e63;
    color: white;
}

.collections-container .fine {
    background: #03a9f4;
    color: white;
}
