<style>
    input, button {
        display: block;
    }

    button {
        width: 100px;
    }
</style>

<h2>${title}</h2>

<p>
    Paragraph
</p>

<input value.bind="title" data-type="text">
<input value.two-way="title" data-type="text">
<input value.one-way="title" data-type="text">
<input value.once="title" data-type="text">

<input aria-hidden.when="title == 'a' ? true : false" data-type="text">

<button click.call="btnClicked">Normal</button>
<button click.call="btnClicked($event)">With Event</button>
<button click.call="btnClicked('hello world')">With Parameters</button>
<button click.call="btnClicked($event, 'hello world')">Event With Parameters</button>