<style>
    input, button {
        display: block;
    }

    button {
        width: 100px;
    }
</style>

<h2>${title}</h2>

<p>
    Paragraph
</p>

<div>Bind</div>
<input value.bind="title" data-type="text" data-title.bind="title">
<div>Two Way</div>
<input value.two-way="title" data-type="text">
<div>One Way</div>
<input value.one-way="title" data-type="text">
<div>Once</div>
<input value.once="title" data-type="text">
<div>Conditional Aria Hidden</div>
<input aria-hidden.when="title == 'a' ? true : false" data-type="text">

<button click.call="btnClicked">Normal</button>
<button click.call="btnClicked($event)">With Event</button>
<button click.call="btnClicked('hello world')">With Parameters</button>
