<style>
    input, button {
        display: block;
    }

    button {
        width: 100px;
    }
</style>

<h2>${title}</h2>
<h2 inner-text.once="title"></h2>

<p>
    Paragraph
</p>

<div>Value</div>
<input value.bind="age" />

<div>Bind</div>
<input value.bind="title" data-type="text" data-title.bind="title">
<div>Two Way</div>
<input value.two-way="title" data-type="text">
<div>One Way</div>
<input value.one-way="title" data-type="text">
<div data-title="${title}" data-age="${age}">${title}</div>
<div>Once</div>
<input value.once="title" data-type="text">

<label>
    <span>IsActive</span>
    <input type="checkbox" checked.bind="isActive" />
    <span>${isActive}</span>
</label>

<button click.call="btnClicked">Normal</button>
<button click.call="btnClicked($event)">With Event</button>
<button click.call="btnClicked('hello world', $event)">With Parameters</button>
