<h2>Contacts Component</h2>
<label>
    <div>Land line number</div>
    <input value.bind="contacts.phone.land" id="edtLand" />
</label>

<label>
    <div>Land line number</div>
    <input value.bind="contacts.phone.cell" id="edtCell"/>
</label>

<label>
    <div>Land line number</div>
    <input value.bind="contacts.phone.fax" id="edtFax"/>
</label>

<div>
    <button click.emit="customEvent(title='hello world', $event, $context)">Custom Event</button>
    <button click.emit="customEvent(title='hello world', $event, contacts=${contacts})">Custom Event - contacts</button>
    <button click.post="got-contacts['input-contacts', 'input-form'](title='hello world', $event, contacts=${contacts})">Post Message</button>
</div>

